body {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  margin: 0;
}

.post-content pre code,
.post-content .highlight:not(table),
.post-content .highlight table {
  background: unset !important;
  background-color: var(--code-bg) !important; /* support light/dark */
  color: var(--secondary) !important; /* support light/dark */
}
