pre,
code,
pre code {
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

body {
  font-family: "Source Serif Pro", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.post-content pre code,
.post-content .highlight:not(table),
.post-content .highlight table {
  background: unset !important;
  background-color: var(--code-bg) !important; /* support light/dark */
  color: var(--secondary) !important; /* support light/dark */
}

a:hover {
  color: #0645ad;
}
