:root {
  --gap: 24px;
  --content-gap: 20px;
  --nav-width: 1024px;
  --main-width: 940px;
  --header-height: 60px;
  --footer-height: 60px;
  --radius: 8px;
  --theme: rgb(255, 255, 255);
  --entry: rgb(255, 255, 255);
  --primary: rgb(30, 30, 30);
  --secondary: rgb(108, 108, 108);
  --tertiary: rgb(214, 214, 214);
  --content: rgb(31, 31, 31);
  --code-block-bg: rgb(46, 46, 51);
  --code-bg: rgb(245, 245, 245);
  --border: rgb(238, 238, 238);
}

.dark {
  --theme: #f8fbf8; /* site background */
  --entry: #ffffff; /* table of contents */
  --primary: #2c3e50; /* header text color */
  --secondary: #5a7a8c; /* card text color */
  --tertiary: #e0f0e9; /* front page buttons */
  --content: #2c3e50; /* post text color */
  --code-block-bg: #f0f5f3; /* code block */
  --code-bg: #edf7f2; /* inline code blocks */
  --border: #a8d1c0; /* elements such as navigation buttons */
}
