img[src$="#center"] {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

table {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

.mermaid {
  display: flex;
  justify-content: center;
}
