<a id="light-toggle" class="fas fa-moon"></a>

<link disabled id="light-mode-theme" rel="stylesheet" href="/css/palettes/base16-tokyo-city-terminal-light.css">

<script>
    var toggle = document.getElementById("light-toggle");
    var lightTheme = document.getElementById("light-mode-theme");
    var savedTheme = localStorage.getItem("light-mode-storage") || "dark";

    setTheme(savedTheme);

    toggle.addEventListener("click", () => {
        if (toggle.className === "fas fa-sun") {
            setTheme("dark");
        } else if (toggle.className === "fas fa-moon") {
            setTheme("light");
        }
    });

    function setTheme(mode) {
        if (mode === "dark") {
            lightTheme.disabled = false;
            toggle.className = "fas fa-moon";
        } else if (mode === "light") {
            lightTheme.disabled = true;
            toggle.className = "fas fa-sun";
        }
        localStorage.setItem("light-mode-storage", mode);
    }
</script>
